<div class="col-xs-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-12">
                    <span class="panel-title" ng-transclude="title"></span>
                </div>
            </div>
        </div>
        <div ng-if="showBody" class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-transclude="body"></div>
                </div>
            </div>
        </div>
        <ng-transclude></ng-transclude>
        <div ng-if="showFooter" class="panel-footer">
            <div class="row">
                <div class="col-xs-12">
                    <div ng-transclude="footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>