<div class="row">
    <div class="col-xs-12 text-center">
        <svg width="400" height="400">
            <g class="arc" ng-repeat="item in chartItems">
                <path ng-attr-fill="{{item.color}}" ng-attr-d="{{item.d}}" uib-tooltip="{{item.name}}: {{item.value}}" tooltip-append-to-body="true"></path>
                <!--<text transform="translate(0,0)" text-anchor="middle">{{item.value}}</text>-->
            </g>
        </svg>
    </div>
    <div class="col-xs-12">
        <div class="pull-left margin-md" ng-repeat="item in chartItems">
            <span class="label" ng-style="{'background-color':item.color}">{{item.name}}</span>
        </div>
    </div>
</div>
