<div class="row">

    <!-- big panel -->
    <ext-panel class="col-xs-12">
        <ext-panel-title>Customer Journey</ext-panel-title>
        <ext-panel-body>
            (big svg funnel chart)
        </ext-panel-body>
    </ext-panel>
    
    
    <!-- small panels -->
    <ext-panel class="col-xs-6 col-lg-3">
        <ext-panel-title>Ipsum metric</ext-panel-title>
        <ext-panel-body>
            <h1>205 942</h1>
        </ext-panel-body>
    </ext-panel>
    
    <ext-panel class="col-xs-6 col-lg-3">
        <ext-panel-title>Blog Visits</ext-panel-title>
        <ext-panel-body>
            <h1>2,914</h1>
        </ext-panel-body>
        <ext-panel-footer>
            <div class="progress margin-xs">
                <div class="progress-bar" style="width:60%;">
                    60%
                </div>
            </div>
        </ext-panel-footer>
    </ext-panel>
    
    <ext-panel class="col-xs-6 col-lg-3">
        <ext-panel-title>HP Visits</ext-panel-title>
        <ext-panel-body>
            <h1><h1>205 942</h1></h1>
        </ext-panel-body>
    </ext-panel>
    
    <ext-panel class="col-xs-6 col-lg-3">
        <ext-panel-title>Infinario valuation</ext-panel-title>
        <ext-panel-body>
            <h1>999 999</h1>
        </ext-panel-body>
        <ext-panel-footer>
            <div class="progress margin-xs">
                <div class="progress-bar" style="width:60%;">
                    60%
                </div>
            </div>
        </ext-panel-footer>
    </ext-panel>
    
    
    <!-- middle panels -->
    <ext-panel class="col-xs-6 col-lg-6">
        <ext-panel-title>Created Features</ext-panel-title>
        <ext-panel-body>
            <ext-piechart chart-data="grid.items" 
                          chart-data-name="'type'" 
                          chart-data-value="'firstAppVisit'">
            </ext-piechart>
        </ext-panel-body>
    </ext-panel>
    
    <ext-panel class="col-xs-6 col-lg-6">
        <ext-panel-title>Created Features</ext-panel-title>
        <table class="table table-condensed table-striped grid">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>1 App visit</th>
                    <th>Something Else</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in grid.items">
                    <td>{{item.type}}</td>
                    <td>{{item.firstAppVisit}}</td>
                    <td>{{item.something}}</td>
                </tr>
            </tbody>
        </table>
        <ext-panel-footer>
            <div ne-grid-pagination="grid"></div>
        </ext-panel-footer>
    </ext-panel>
</div>